.auth-page {
  width: 100vw;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.auth-page form {
  width: 400px;
  padding: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.auth-page form button {
  width: 100%;
}

.auth-page form p {
  margin: 10px 0;
}

.auth-page form p span {
  color: var(--accent-color);
}
