@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");

@font-face {
  font-family: "logo_font";
  src: url(Fonts/logo\ font.otf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Warm and Inviting */
:root {
  --primary-color: #0d0c0c;
  --text-color: #383636;
  --secondary-color: #f6f3f3;
  --accent-color: #ff5733;
  --background-color: #f8f8f8;
}

::selection {
  background-color: transparent;
  color: var(--accent-color);
}

body {
  width: 100%;
  height: 100%;
  background-color: var(--background-color);
  font-family: "Nunito Sans", serif;
}

p {
  color: var(--text-color);
}

h1,
h2,
h3 {
  color: var(--primary-color);
}

li {
  list-style: none;
}

a {
  color: var(--primary-color);
  text-decoration: none;
}
